<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
  <!--
    {% if data >= 30 %}
    <h3>30보다 큽니다.</h3>
    {# {% elif data > 25 %}
    <h3>25보다 큽니다.</h3>
    #} {% else %}
    <h3>{{ data }}</h3>
    {% endif %}
    -->

    {% if data >= 30 %}
    <h3>30보다 큽니다.</h3>
    {% elif data > 25 %}
    <h3>25보다 큽니다.</h3>
    {% else %}
    <h3>{{ data }}</h3>
    {% endif %}



  </body>
</html>
