<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="get" action="http://localhost:8080/login">    <!-- 다른 서버에 요청하는 경우 full 경로를 적어야-->
      <center>
        <h1>로그인</h1>
        ID: <input type="text" name="user_name" /><br />
        PW: <input type="text" name="pw" /><br /><br />

        <input type="submit" />
      </center>
    </form>
  </body>
</html>
